<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="UTF-8"/>
        <title>Test Wetter API</title>

    </head>
    <body>
        <div class = "media">
            <h1>Wetter API Test</h1>
            <p>
                <span> 
                    <%=weather.city %>
                </span>
                <br>
                <span> 
                    <%=weather.temperature %>
                </span>
                <br>
                <span> 
                        <%=weather.description %>
                </span>
            </p>
        </div>
    </body>
</html>